@using Odev1.Entities;
@model IEnumerable<Employee>

@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Odev1.styles.css" asp-append-version="true" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Adi</th>
            <th>Soyadi</th>
            <th>Unvani</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Title</td>
                <td>
                    <a asp-controller="Orders" asp-action="Index" asp-route-id="@item.EmployeeId">Siparisler</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<footer>
    <a class="btn btn-success" asp-action="Create">Yeni Calisan</a>
</footer>
